{% load static %}
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="description" content="A plataforma que você aprende jogando, conheça nossa plataforma iteratica de gamificação">
	<meta name="author" content="Lucas Aragão">
	<meta name="viewport" content="width=device-width, inital-scale=1.0">
	<title>Bem vindo ao LOC</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
<!--Inicio cabeçalho-->
	<header>
		<div class="header">
			<div class="logo">
				<a href="/home"><img src="{% static '/img_home/logo.png' %}" alt="Logo League of Class"></a>
			</div> <!--Final logo-->
			<div class="menu">
				<div class="nav">
					<ul>
						<li><a href="/home">Home</a></li>
						<li><a href="#">Saiba mais</a></li>
						<li><a href="#">Contato</a></li>
					</ul>
				</div>
			</div> <!--Final menu-->
		</div><!--FINAL DO HEADER-->
	</header>

	<section>
		<div class="controle-lado">
			<div class="esquerda">
				<h1 align="left">Venha fazer parte desse game do mundo real</h1> <br> <br>
				<p align="justify">O League of Class é uma plataforma de suporte para os professores inspirada no modo mais didático de agradar os alunos: GAMES. Esta é uma ferramenta de aprendizado incrível. Você cadastrar a sua turma gratuitamente e gerencia-la. Além de construir games para uma atividade prática para os seus alunos. Conheça e use LOC. Garantimos que todos irão gostar</p>
			</div> <!--Fim esquerda-->

			<div class="direita">
				<h1 align="center"></h1>
				<!--Inicio Login-->
				<div class="login">
					<img src="img/boneco.png" class="boneco">
					<h1>Faça seu Login</h1>
					<form method="POST">
						{% csrf_token %}
						<p>Email</p>
						<input type="email" name="email" placeholder="Email de usuário">
						<p>Senha</p>
						<input type="password" name="senha" placeholder="Digite sua senha">
						<input type="submit" name="" value="Login">
						<a href="/escolherPerfil">Ainda não possui um cadastro?</a><br>
						<a href="">Esqueceu sua senha?</a>
					</form>
				</div>
				<!--final Login-->

			</div><!--Fim direita-->

		</div> <!--Fim controle lado-->
	</section>

	<section class="conteudo"><!--Inicio conteudo-->
		<div class="saiba-mais">
			<h2 align="center">Saiba Mais</h2> <br><br>
			<p align="center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		</div>
	</section><!--final conteudo conteudo-->

	<article class="conteudo2">
		<div class="informacoes">
				<h2 align="center">Alguma coisa</h2>
				<img src="img/img04.png" alt="">
				<p align="center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p> <br> <br>
				<p align="center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p> <br> <br>
				<p align="center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p> <br> <br>
		</div>
	</article>

	<footer class="footer">
		<h2> Aqui sera o rodapé</h2>
	</footer>
</body>
</html>